PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://officialrahman8409_db_user:Qwertyrahman8409@campusmind.pcc3tn2.mongodb.net/shopkart?appName=campusmind
JWT_SECRET=7fb698198ef47242f1d7b452ec9defb92d0842e39c400f65e367e817d1750302
CLIENT_URL=http://localhost:5173
NODE_ENV=development